{
  "keys": [
    {
      "id": "key_1",
      "api_key": "your_gemini_api_key_here_1",
      "limits": {
        "requests_per_minute": 60,
        "requests_per_day": 1440,
        "tokens_per_minute": 32000
      }
    },
    {
      "id": "key_2", 
      "api_key": "your_gemini_api_key_here_2",
      "limits": {
        "requests_per_minute": 60,
        "requests_per_day": 1440,
        "tokens_per_minute": 32000
      }
    },
    {
      "id": "key_3",
      "api_key": "your_gemini_api_key_here_3", 
      "limits": {
        "requests_per_minute": 60,
        "requests_per_day": 1440,
        "tokens_per_minute": 32000
      }
    }
  ]
}